<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/intro.css">
  <link rel='stylesheet' href='/css/https://codepen.io/P1N2O/pen/xxbjYqx.css'><link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <% let showUpdateBtn=true; %>
    <% let showLastUpdated=false; %>
      <%- include('admin_header'); %>

        <% if(locals.user) {%>
          <%- include('_introSection',{title: 'Login Page' , loggedInUser:user,
            org_user:user,showUpdateBtn,showLastUpdated}); %>
            <% showUpdateBtn=true; %>
              <% showLastUpdated=true; %>

                <!-- <div style="margin: auto; width: 50%; margin-top: 1rem; padding: 1rem;">
                  <img class="disp-img"
                    src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/08/1487711891-lego-toy-sets.jpg" alt=""
                    style="height: 100%; width: 100%;">
                </div> -->
                <h1>Welcome, <%= mn.manager_name %></h1>
                <div style="position: relative; left: 40%; top: 50px; height: 400px; width: 300px;"> 
                  <img style="height: 300px;"  src="\images\manager.jpg" alt="" srcset="">
                </div>
                
                <div style="width: 100%;">
                  
                  <div class="" style="position: relative; top: 30%; left:10%; background-color: bisque; height: 100%; width: 80%;">
                    <h1>Pending Events</h1>

                    <div id="toys-container"
                      class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                      <% eventsList.forEach(element=> { %>
                        <% if (!element.status) { %>
                          <%- include('_managerEvents',{element}) %>
                          <% } %>
                          <% }) %>
                    </div>
                    </div>
                    
                    <div class="" style="position: relative; left:10%; background-color: orange; height: 100%; width: 80%;">
                      <h1>Events Completed</h1>

                      <div id="toys-container"
                          class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                          <% eventsList.forEach(element=> { %>
                            <% if (element.status) { %>
                              <%- include('_managerEvents1',{element}) %>
                              <% } %>
                              <% }) %>
                        </div>
                        </div>

                </div>


                    <% } else {%>
                      <h1>Welcome, <%= mn.manager_name %></h1>
                      <div style="position: relative; left: 40%; top: 50px; height: 400px; width: 300px;"> 
                        <img style="height: 300px;"  src="\images\manager.jpg" alt="" srcset="">
                      </div>
                      
                      <div style="width: 100%;">
                        
                        <div class="" style="position: relative; top: 30%; left:10%; background-color: bisque; height: 100%; width: 80%;">
                          <h1>Pending Events</h1>

                          <div id="toys-container"
                            class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                            <% eventsList.forEach(element=> { %>
                              <% if (!element.status) { %>
                                <%- include('_managerEvents',{element}) %>
                                <% } %>
                                <% }) %>
                          </div>
                          </div>
                          
                          <div class="" style="position: relative; left:10%; background-color: orange; height: 100%; width: 80%;">
                            <h1>Events Completed</h1>
    
                            <div id="toys-container"
                                class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                                <% eventsList.forEach(element=> { %>
                                  <% if (element.status) { %>
                                    <%- include('_managerEvents1',{element}) %>
                                    <% } %>
                                    <% }) %>
                              </div>
                              </div>

                      </div>
                          <% } %>
                          <footer class="footer" style="width: 100%;">
                            <div class="copy">&copy; 2022 Developer</div>
                            <div class="bottom-links">
                              <div class="links">
                                <span>More Info</span>
                                <a href="#">Home</a>
                                <a href="#">About</a>
                                <a href="#">Contact</a>
                              </div>
                              <div class="links">
                                <span>Social Links</span>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                              </div>
                            </div>
                          </footer>
                            <!-- JavaScript Bundle with Popper -->
                            <script
                              src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                              integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                              crossorigin="anonymous">
                              </script>
                              <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
                              <!-- partial -->
                                <script  src="./script.js"></script>
</body>

</html>